body {
  font-family: sans-serif;
}
.container{
  margin: auto; 
  width: 80%;
  padding: 10px;
  border: 2px solid; 
  border-radius: 3px;

}
h1{
  text-transform: capitalize;
}
h2{
  font-weight: 400;
  display: flex;
  justify-content: center;
}
#temperature{
  font-size: 3rem;
}
sup{
  font-size: 16px;
  margin: 10px 0 0 0;
}
.temperature-level{
  display:  flex;
  font-size: 10px;
  justify-content: center;
  gap: 10px;
}